@import url('http://fonts.googleapis.com/css?family=Titillium+Web:300');

* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 300;
}

#map {
	position: relative;
	width: 100%;
	height: 500px;
}

#map.expanded {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
}

#expand {
	position: fixed;
	z-index: 10;
	left: 10px;
	top: 145px;
	background-color: #FFFFFF;
	padding: 5px 6px;
	border-radius: 4px;
	box-shadow: 0 1px 5px rgba(0,0,0,0.65);
}

#expand.expanded {
	top: 77px;
}

#expand:hover {
	background-color: #f4f4f4;
	cursor: pointer;
}

h1, h2, p {
	margin: auto;
	max-width: 700px;
	padding: 10px 15px;
}

a {
	color: #0078A8;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
