<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
    <link rel="alternate" type="application/atom+xml" title="Atom feed" href="/feed.atom" />
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="/">Morris Jobke</a></h1>
        <h4>kabum.github.io <a href="/feed.atom" title="Complete feed"><i class="icon-rss"></i></a><br /><a href="/feed-owncloud.atom" title="ownCloud only">ownCloud only <i class="icon-rss"></i></a></h4>

        <p class="view">

        </p>

        <p class="view">
          <i class="icon-github"></i> <a href="https://github.com/kabum">@kabum</a><br />
          <i class="icon-twitter"></i> <a href="https://twitter.com/MorrisJbk">@MorrisJbk</a><br />
          <i class="icon-comment-alt"></i> <a href="irc://chat.freenode.net/#owncloud-dev">mjob@freenode</a>
          <br />
        </p>

        <h3>Blog posts</h3>

        <p class="view" id="blogposts">
          {% for post in site.posts %}
            {{ post.date | date_to_string }} <a href="{{ post.url }}">{{ post.title }}</a><br />
          {% endfor %}
        </p>

      </header>
      <section>
        {{ content }}
      </section>
      <footer>
        <p>
          <small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a>
        </p>
      </footer>
    </div>
    <script src="/js/scale.fix.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-41879752-1', 'kabum.github.io');
      ga('send', 'pageview');

    </script>
  </body>
</html>
